@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a;
  --foreground: #e2e8f0;
  --primary: #38bdf8;
  --secondary: #14b8a6;
  --highlight: #facc15;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
}

textarea,
button {
  transition: all 0.3s ease-in-out;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
